
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<div class="checkoutForm">
    <h2>Your shopping cart</h2>
    <h4>Here are the cars in your shopping cart.</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Car</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Car.Make.MakeName @line.Car.Model</td>
                    <td class="text-right">@line.Car.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Car.Price).ToString("c"))
                    </td>
                    <td class="text-center"><a class="remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-carId="@line.Car.CarId">Remove</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group">
            <a class="btn" asp-controller="Order" asp-action="Checkout">Check out</a>
            <a class="btn" asp-controller="Car" asp-action="List">Add more cars</a>
        </div>
    </div>
</div>
